* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  outline: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background: #1e1e20;
}

body.white {
  background: white;
}

img {
  display: block;
}

.page-faq {
  position: relative;
}

.header {
  padding-top: 12px;
  z-index: 2;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  width: 120px;
}
.header__logo img {
  width: 100%;
}

.header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__right a {
  text-align: right;
}

.header__right-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.header__right-link:first-child {
  margin-bottom: 7px;
}
.header__right-link:nth-child(2) {
  margin-bottom: 14px;
}

.header__right-btn {
  font-size: 14px;
  line-height: 17px;
  color: #f7ca60;
  padding-bottom: 3px;
  border-bottom: 1px dashed #f7ca60;
  text-decoration: none;
}

.header__search {
  width: 626px;
  height: 45px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
  padding-right: 17px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.header__search-input-wrap {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 110%;
  color: #1e1e20;
  opacity: 0.8;
}

.header__search-input {
  flex-grow: 1;
  height: 100%;
  margin-right: 10px;
  border: none;
  font-size: 14px;
}

.header__search-btn {
  cursor: pointer;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  transition-duration: 0.2s;
}
.header__link svg {
  margin-right: 10px;
}
.header__link span {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.header__link:hover {
  color: #f7ca60;
}
.header__link:hover svg line {
  stroke: #f7ca60;
}

.breadcrumbs {
  margin-top: 56px;
}
.breadcrumbs .container {
  display: flex;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
  color: #848484;
  text-decoration: none;
}

.breadcrumbs__arrow {
  width: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs__current {
  font-size: 16px;
  line-height: 19px;
  color: #f7ca60;
}

.section__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  color: #ffffff;
  text-align: center;
}
.section__title span {
  color: #f7ca60;
}

.btn-primary {
  background: linear-gradient(293.89deg, #f6c150 35.44%, #fded9b 94.34%);
  border-radius: 100px;
  height: 89px;
  border: none;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  box-shadow: 0px 4px 50px #ffd57a;
  border-bottom: 4px solid #c49028;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.2s;
  text-decoration: none;
}
.btn-primary:hover {
  transform: scale(1.02);
}

.header__cart-wrap:hover svg path {
  fill: #ffd57a;
}
.header__right-link:hover {
  color: #ffd57a;
}

.header__cart-wrap {
  position: relative;
}
.header__cart-counter {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #f6c150;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 10px;
  border-radius: 50%;
  right: -6px;
  top: -4px;
  font-weight: bold;
}

.footer {
  padding-bottom: 50px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 146px;
  margin-bottom: 27px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer__author {
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}
.footer__author a {
  color: white;
}

.footer__col-name {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 20px;
}

.footer__col-big {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer__col-big a {
  font-size: 24px;
  line-height: 29px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
}

.footer__col-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__col-link {
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.2s;
}

.footer__col-link:hover {
  color: #f7ca60;
}

.footer__col-socials {
  display: flex;
  gap: 25px;
}

.footer__col-social {
  cursor: pointer;
  text-decoration: none;
}

.pagination__arrow {
  background: linear-gradient(0deg, #ffffff 3.64%, #dbdbdb 100%);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pagination {
  display: flex;
  gap: 45px;
  align-items: center;
}

.pagination__button {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.pagination__button-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.pagination__page {
  background: #ffffff;
  opacity: 0.1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}
.pagination__page--active {
  background: #f7ca60;
  box-shadow: 0px 0px 13px #f7ca60;
  opacity: 1;
}

.pagination__pages {
  display: flex;
  gap: 20px;
}

.callback__title {
  max-width: 894px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.callback {
  padding-bottom: 150px;
  position: relative;
}

.callback__form {
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 52px;
  background: white;
  border-radius: 25px;
  position: relative;
}

.callback__barrels {
  position: absolute;
  width: 466px;
  right: 20px;
  bottom: 50px;
}

.callback-top-right {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 2;
}

.callback-top-left {
  position: absolute;
  top: -34px;
  left: -55px;
  z-index: -1;
}

.callback-btm-right {
  position: absolute;
  bottom: -95px;
  left: 250px;
}

.callback-btm-left {
  position: absolute;
  bottom: -68px;
  left: 68px;
}

.checkbox {
  cursor: pointer;
  position: relative;
}

.checkbox__check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkbox__slider {
  width: 62px;
  height: 32px;
  border-radius: 16px;
  background: linear-gradient(293.89deg, #f6c150 35.44%, #fded9b 94.34%);
  border-bottom: 2px solid #c49028;
  padding-left: 3px;
  padding-right: 3px;
  filter: grayscale(1);
  transition-duration: 0.2s;
  position: relative;
  box-shadow: 0px 0.645161px 8.06452px #ffd57a;
}

.checkbox__slider-circle {
  background: #c49028;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition-duration: 0.2s;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 3px;
}

.checkbox__check:checked + .checkbox__slider {
  filter: unset;
}

.checkbox__check:checked + .checkbox__slider .checkbox__slider-circle {
  left: 32px;
}

.callback__form-title {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #1e1e20;
  margin-bottom: 45px;
}
.callback__form-title span {
  font-weight: 700;
}

.callback__title-clock {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  margin-right: 15px;
  margin-top: -5px;
}

.callback__title-clock + p {
  max-width: 607px;
}

.inp-primary {
  background: #e8e8e8;
  border-radius: 100px;
  height: 89px;
  padding-left: 50px;
  padding-right: 30px;
  border: none;
  font-size: 18px;
  line-height: 22px;
}

.callback__form-inp {
  width: 348px;
}
.callback__form-inp:first-child {
  margin-right: 25px;
}

.callback__inputs {
  display: flex;
  margin-bottom: 25px;
}

.callback__check {
  display: flex;
  align-items: center;
}

.callback__check-text {
  margin-left: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #1e1e20;
}
.callback__check-text span {
  font-weight: 700;
}

.callback__form-btm {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.callback__btn {
  margin-left: 64px;
  width: 348px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.notfound {
  margin-top: -10%;
  position: relative;
  padding-bottom: 200px;
}

.notfound__bg {
  width: 100%;
  z-index: -1;
  position: relative;
}

.notfound__text {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  text-align: center;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 23%;
}

.notfound__btn {
  width: 416px;
  text-decoration: none;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.header__middle {
  display: flex;
  align-items: center;
}

.header__search-profile {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.header__search-profile a:last-child {
  margin-bottom: 2px;
}

.popup-callback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.popup-callback.active {
  visibility: visible;
  opacity: 1;
}

.popup-callback__window {
  width: 824px;
  background: white;
  border-radius: 25px;
  position: relative;
  padding-top: 66px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 52px;
}

.popup-callback__close {
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
}

.popup__callback-title {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #1e1e20;
  margin-bottom: 66px;
}
.popup__callback-title span {
  font-weight: 700;
}

.popup__callback-input {
  width: 347px;
}

.popup__callback-inputs {
  display: flex;
  justify-content: space-between;
}

.popup__callback-btm {
  margin-top: 25px;
}

.header-mob {
  display: none;
}

.mob {
  display: none;
}

.mob-menu {
  display: none;
}
.vue-notification-group {
  zoom: 120%;
}

.brands__content .producers__items {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  body {
    zoom: 80% !important;
  }
}
@media only screen and (max-width: 900px) and (min-width: 601px) {
  body {
    zoom: 60% !important;
  }
  .header {
    zoom: 125%;
    padding-top: 55px;
  }
  .header .container {
    width: 960px;
  }
  .header__logo {
    position: absolute;
    width: 86px;
    top: 20px;
  }
  .header__links {
    width: 628px;
  }
  .header__search {
    margin-left: 120px;
    width: 400px;
  }
  .header__search-profile {
    margin-left: -70px;
  }
  .footer {
    zoom: 120%;
    padding-bottom: 140px;
  }
  .footer .container {
    width: 960px;
  }
  .footer__col-big a {
    font-size: 18px;
    line-height: 24px;
  }
  .footer__logo {
    width: 100px;
  }
  .footer__info {
    position: absolute;
    left: 50%;
    bottom: 60px;
    display: flex;
    transform: translateX(-50%);
  }
  .footer__copyright {
    margin-bottom: 0;
    padding-right: 5px;
  }
  .footer__copyright::after {
    content: "|";
    padding-left: 5px;
  }
  .footer__col-link {
    font-size: 16px;
  }
  .footer__col-name {
    font-size: 17px;
  }
  .footer__copyright,
  .footer__author {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .mob-menu {
    display: block;
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  body {
    zoom: unset !important;
  }
  body > div {
    overflow-x: hidden;
  }
  .container {
    width: 320px;
  }
  .header__middle {
    display: none;
  }
  .header {
    display: none;
  }
  .header-mob {
    display: block;
    padding-top: 10px;
    position: relative;
    z-index: 2;
  }
  .header-mob .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-mob__logo {
    width: 77px;
  }
  .btn-primary {
    height: 62px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    background: linear-gradient(293.89deg, #f6c150 35.44%, #fded9b 94.34%);
    border-bottom: 3px solid #c49028;
    box-shadow: 0px 4px 30px rgba(255, 213, 122, 0.5);
    font-weight: bold;
  }
  .section__title {
    font-size: 34px;
    line-height: 110%;
  }
  .mob {
    display: block;
  }
  .swiper-pagination-bullet {
    margin: 0 !important;
    border: 1px solid #ffffff !important;
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
    background: transparent !important;
  }
  .swiper-pagination-bullet-active {
    background: white !important;
  }
  .swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .callback-top-left {
    width: 70px;
    top: 17px;
  }
  .callback__barrels {
    display: none;
  }
  .callback-btm-left {
    width: 101px;
    left: unset;
    right: 7px;
    bottom: -40px;
  }
  .callback-btm-right {
    display: none;
  }
  .callback__form {
    padding-top: 26px;
    padding-left: 21px;
    padding-right: 21px;
  }
  .callback__form-title {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .callback__form-title p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .callback__title-clock {
    margin-right: 0;
    width: 30px;
    height: auto;
    margin-bottom: 11px;
  }
  .callback__inputs {
    flex-direction: column;
  }
  .callback__form-inp {
    width: 100%;
  }
  .inp-primary {
    height: 62px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .callback__form-inp:first-child {
    margin-right: 0;
  }
  .callback__inputs {
    gap: 10px;
    margin-bottom: 10px;
  }
  .callback__form-btm {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  .callback__btn {
    margin-left: 0;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
  }
  .callback__btn {
    margin-bottom: 22px;
  }
  .callback__check-text {
    font-size: 14px;
    line-height: 16px;
  }
  .checkbox__slider {
    width: 48px;
    height: 26px;
  }
  .checkbox__slider-circle {
    width: 20px;
    height: 20px;
  }
  .checkbox__check:checked + .checkbox__slider .checkbox__slider-circle {
    left: 26px;
  }
  .callback__form {
    padding-bottom: 14px;
  }
  .callback__barrels-mob {
    width: 198px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .callback-top-right {
    width: 65px;
    top: 190px;
  }
  .callback {
    padding-bottom: 100px;
  }
  .footer {
    display: none;
  }
  .footer-mob {
    padding-bottom: 30px;
  }
  .footer__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  .footer__phone img {
    width: 19px;
  }
  .footer__phone span {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
  }
  .footer-mob__mail {
    margin-top: 15px;
    margin-bottom: 37px;
  }
  .footer-mob__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .footer-mob__link span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  .footer-mob__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 37px;
  }
  .footer-mob__socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
  }
  .footer-mob__social img {
    width: 40px;
  }
  .footer-mob__copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-mob__author {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    text-align: center;
  }
  .footer-mob__author a {
    color: #ffffff;
  }
  .mob-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 310px;
    background: #1f1f1f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition-duration: 0.2s;
    transform: translateX(-200%);
  }
  .mob-menu.active {
    transform: translateX(0%);
  }
  .mob-menu__inner {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .mob-menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
  }
  .mob-menu__right {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .mob-menu__links {
    gap: 20px;
    margin-bottom: 40px;
  }
  .mob-menu__phone {
    margin-bottom: 20px;
  }
  .mob-menu__phone span {
    font-size: 18px;
    line-height: 22px;
  }
  .mob-menu__mail span {
    font-size: 18px;
    line-height: 104%;
  }
  .mob-menu__mail {
    margin-bottom: 30px;
  }
  .mob-menu__links {
    justify-content: flex-start;
    margin-bottom: 45px;
  }
  .mob-menu__links img {
    width: 36px;
  }
  .mob-menu__btn {
    width: 270px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #f7ca60;
    border-radius: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1e1e20;
  }
  .breadcrumbs {
    display: none;
  }
  .popup-callback__window {
    width: 320px;
    padding-top: 80px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 41px;
  }
  .popup__callback-title {
    font-size: 18px;
    line-height: 130%;
    max-width: 265px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .popup__callback-title br {
    display: none;
  }
  .popup__callback-inputs {
    flex-direction: column;
    gap: 10px;
  }
  .popup__callback-input {
    width: 100%;
  }
  .popup-callback__close {
    width: 20px;
    height: 20px;
  }
  .popup__callback-btm {
    margin-top: 10px;
  }
  .callback__btn {
    margin-bottom: 18px;
  }
  .notfound__btn {
    width: 320px;
  }
  .notfound__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    width: 320px;
  }
  .notfound {
    overflow: visible;
  }
  .notfound__text {
    position: relative;
    margin-right: 0;
    left: unset;
    transform: unset;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .notfound__text br {
    display: none;
  }
}
